<div class="container">
    <!-- =================movie ============== -->
    <div class="row">
        <div class="col-lg-3 col-md-4 mb-3">
            <hr class="text-secondary w-25">
            <h1 class="text-light">Trending movie to watch now</h1>
            <p class="text-secondary">Most watched movies by days</p>
            <hr class="text-secondary">
        </div>
        <div class="col-lg-9 col-md-4 mb-3">
            <div class="row">
              
                <app-swiper></app-swiper>

            </div>
        </div>
    </div>
    <!-- =================only slider============== -->
    <!-- <app-swiper></app-swiper> -->
    <app-tv-swiper [slidesPerView]="slidesPerView"> </app-tv-swiper>
    <!-- =================Tv show============== -->
    <div class="row">
        <div class="col-lg-3 col-md-4 mb-3">
            <hr class="text-secondary w-25">
            <h1 class="text-light">Trending <br>Tv <br> to watch now</h1>
            <p class="text-secondary">Most watched movies by days</p>
            <hr class="text-secondary">
        </div>
        <div class="col-lg-9 col-md-4 mb-3">
            <div class="row">
              
                <app-swiper></app-swiper>

            </div>
        </div>
    </div>
    <!-- =================only slider============== -->
    <!-- <app-swiper></app-swiper> -->

<!-- ================ -->

<app-tv-swiper [slidesPerView]="slidesPerView"> </app-tv-swiper>
  
</div>
