<nav class="navbar navbar-expand-lg bg-dark mb-5">
    <div class="container-fluid">
      
      <a class="navbar-brand" routerLink="" routerLinkActive="active">
        <img class="img-logo" src="JustWatch-logo-large.webp" alt="">
      </a>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="movie" routerLinkActive="active">Movie</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="series" routerLinkActive="active">Series</a>
          </li>
         
         
        </ul>
        <div class="search-container mx-4 w-50">
          <input type="text" class="form-control search-input bg-dark " placeholder="Search...">
          <!-- <i class="fas fa-search search-icon"></i> -->
        </div>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="signin" routerLinkActive="active">SignIn</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="signup" routerLinkActive="active">SignUp</a>
          </li>
         
         
        </ul>



      </div>



    

      
    </div>
  </nav>


  <!-- ================================= -->
   <!-- Navbar -->
<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-2">
  <a class="navbar-brand" href="#">
      <img src="JustWatch-logo-large.webp" alt="Logo" height="40">
  </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse p-2" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
          </li>
      </ul>
      <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-light" type="submit">Search</button>
      </form>
  </div>
</nav> -->
<!-- End Navbar -->