<div class="swiper-container" #swiperContainer>
    <div class="swiper-wrapper">
        @for (series of allSeries; track series.id) {
        <div class="swiper-slide mb-5 h-auto">
            <div class="card product-card border-0  shadow-sm w-100">
                <div class="position-relative">
                    <span class="badge badge-custom">New Arrival</span>
                    <div class="overflow-hidden">
                        <img [src]="imgUrl+series.poster_path"
                            class="card-img-top product-image" alt="Product Image">
                    </div>
                </div>
                <div class="card-body p-2 " style="background-color: black;">
                    <h5 class="card-title fw-semibold"> {{series.name}} </h5>

                </div>
            </div>
        </div>
        }
       
    </div>
    <div class="swiper-scrollbar"></div>
  </div>
  
